
.container {
    width: 1020px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.main-header {
    min-height: 95px;
    background: linear-gradient(0deg, rgba(50,55,70,1) 6px, rgba(45,48,58,1) 6px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar {
    display: block;
    margin-right: 40px;
}

.nav-bar a{
    font-family: 'LatoWeb', Arial, sans-serif;
    margin-left: 26px;
    bottom: -1px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 8px;
    font-weight: normal;
    letter-spacing: -0.007em;

}

.nav-bar a::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: -16px;
    height: 2px;
    transform: translate(0, -50%);
    width: 2px;
    border-radius: 50%;
    background-color: #494e62;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.nav-bar .checked:hover {
    text-decoration: none;
}

.nav-bar a:active {
    color: #f06c64;
}

.nav-bar a:first-child::after {
    display: none;
}

.nav-bar .checked {
    color: #f06c64;
    cursor: default;
}

.logo {
    position: relative;
    font-family: 'LatoWebMedium', Arial, sans-serif;
    margin-left: 39px;
    color:#ffffff;
    text-transform: uppercase; 
    font-size: 25px;
    line-height: 8px;
    padding-bottom: 1px;
    font-weight: 400;
    letter-spacing: -0.015em;
}

.red-star {
    color:#dc6660;
}

.slider {
    position: relative;
    min-height: 600px;
    background: linear-gradient(0deg, rgb(234, 103, 107) 6px, rgb(240, 109, 102) 6px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider__btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    width: 16px;
    height: 27px;
    background-color: transparent;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.slider__btn:focus {
    outline: none;
}

.slider__btn:hover {
    background-color: lightcoral;
}

.slider__btn--left {
    background-image: url('./assets/img/btn_left.png');
    margin-left: 25px;

}

.slider__btn--right {
    background-image: url('./assets/img/btn_right.png');
    margin-right: 23px;
}

.phone {
    position: relative;
}

.phone--left {
    right: 35px;
    bottom: 4px;
}

.phone--right {
    left: 34px;
    bottom: 126px;
}

.our-services {
    min-height: 431px;
    padding-top: 69px;
    background: linear-gradient(0deg, #fff 6px, #f2f2f2 6px);
    font-family: 'LatoWeb', Arial, sans-serif;
}

.our-services__header {
    font-family: 'LatoWebBlack', Arial, sans-serif;
    font-size: 30px;
    line-height: 17px;
    font-weight: 900;
    color: #666d89;
    margin-top: 3px;
    margin-bottom: 24px;
    margin-left: 40px;
}

.our-services__text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    letter-spacing: 0.0px;
    margin-bottom: 46px;
    margin-left: 40px;
    padding-right: 25px;
    text-align: justify;
    max-width: 940px;
}

.features {
    margin-left: 36px;
    margin-right: 0;
}

.features__element {
    width: 220px;
    padding-left: 84px;
    display: inline-block;
    background-position: 3px 0px;
    background-size: 62px;
    background-repeat: no-repeat;
    margin-right: 12px;
    margin-bottom: 21px;
}

.features__header {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: 900;
    color: #666d89;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.006em;
}

.features__text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.07px;
    margin-top: 10px;
    margin-bottom: 13px;
    width: 220px;
    height: 62px;
    overflow: hidden;
}

.features__element--pen {
    background-image: url('./assets/img/pen.png');
}

.features__element--bulb {
    background-image: url('./assets/img/bulb.png');
}

.features__element--heart {
    background-image: url('./assets/img/heart.png');
}

.features__element--small-phone {
    background-image: url('./assets/img/small-phone.png');
}

.features__element--bubble {
    background-image: url('./assets/img/bubble.png');
}

.features__element--star {
    background-image: url('./assets/img/star.png');
}